<div class="px-5 bg-slate-950">  
  <div class="border-b-2 border-dotted border-y-gray-50 border-opacity-30 p-5" <%= id="article-#{article.id}" %>>
    <div class="pt-5 ">
      <h1 class="text-4xl font-bold text-sky-400">
        <%= link_to "#{article.title}", article_path(article) %>
      </h1>
    </div>
    <p class="text-gray-600">          
      <% if article.author %>
        <%= "By " + article.author %>
      <% else %>
        Published
      <% end %>
      on
      <% if article.published_at %>
        <%= article.published_at %>
      <% end %>
    </p>
    <div class="pt-5">
      <span class="text-gray-400">
        <%= article.body %>
      </span>
      <p class="text-gray-400"><%= "Article: " + article.id.to_s %></p>
    </div>
    <% if current_admin || article.author == current_user&.username %>
      <div class="pt-5">
        <button id="edit-article" class="text-sky-400">
          <%= link_to 'Edit', edit_article_path(article) %>  
        </button>
        <button id="delete-article" class="text-sky-400">
          <%= link_to 'Delete', article, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </button>
      </div>
    <% end %>
  </div>
</div>