<div class="px-5 bg-slate-950">  
  <div class="border-b-2 border-dotted border-y-gray-50 border-opacity-30 p-5" <%= id="article-#{article.id}" %>>
    <div class="pt-5 ">
      <h1 class="text-4xl font-bold text-sky-400">
        <%= article.title %>
      </h1>
    </div>
    <p class="text-gray-600">          
      <% if article.author %>
        <%= "By " + article.author %>
      <% else %>
        Published
      <% end %>
      on
      <% if article.published_at %>
        <%= article.published_at %>
      <% end %>
    </p>
    <div class="pt-5">
      <span class="text-gray-400">
        <%= article.body %>
      </span>
      <p class="text-gray-400"><%= "Article: " + article.id.to_s %></p>
    </div>
  </div>
</div>