<% if current_admin %>
  <div>
    <h1 class="mb-12 text-5xl font-bold text-center text-sky-400">ADM</h1>
    <ul class="text-center">
      <li class="nav-item text-2xl text-sky-600">
        <%= link_to I18n.t('profile.index.write_article'), new_article_path, class:"" %>
      </li>
      <li class="nav-item text-2xl text-sky-600">
        <%= link_to I18n.t('profile.index.create_user'), new_user_registration_path, class:"" %>
      </li>
      <li class="nav-item text-2xl text-sky-600">
        <%= link_to I18n.t('profile.index.manage_users'), profile_manage_path, class:"" %>
      </li>
      <li class="nav-item text-2xl text-sky-600">
        <%= link_to I18n.t('common.password_forgot'), edit_admin_password_path(current_admin) %>
      </li>
      <li><hr class="h-px border-0 dark:bg-sky-900"></li>
      <li class="nav-item text-2xl text-sky-600">
        <%= button_to I18n.t('common.logout'), destroy_admin_session_path, method: :delete, class:"" %>
      </li>
    </ul>
  </div>
<% elsif current_user.author %>
  <div>
    <h1 class="mb-12 text-5xl font-bold text-center text-sky-400">Welcome, <%= current_user.username %></h1>
    <ul class="text-center">
      <li class="nav-item text-2xl text-sky-600">
        <%= link_to I18n.t('profile.index.write_article'), new_article_path, class:"" %>
      </li>
      <li><hr class="h-px border-0 dark:bg-sky-900"></li>
      <li class="nav-item text-2xl text-sky-600">
        <%= button_to I18n.t('common.logout'), destroy_user_session_path, method: :delete, class:"" %>
      </li>
    </ul>
  </div>
<% else %>
  <div>
    <h1 class="mb-12 text-5xl font-bold text-center text-sky-400">Welcome, <%= current_user.username %></h1>
    <ul class="text-center">
      <li class="nav-item text-2xl text-sky-600">
        <%= link_to I18n.t('profile.index.dashboard'), articles_path %>
      </li>
      <li><hr class="h-px border-0 dark:bg-sky-900"></li>
      <li class="nav-item text-2xl text-sky-600">
        <%= button_to I18n.t('common.logout'), destroy_user_session_path, method: :delete, class:"" %>
      </li>
    </ul>
  </div>
<% end %>