<div class="flex justify-center min-w-full text-center">
  <table class="max-h-20 table-auto border-solid border-2 border-sky-400">
    <tr class="border-solid border-2 border-sky-900">
      <th class="text-slate-950 font-bold text-3xl bg-sky-950">ID</th>
      <th class="text-slate-950 font-bold text-3xl bg-sky-950"><%= I18n.t('common.name') %></th>
      <th class="text-slate-950 font-bold text-3xl bg-sky-950"><%= I18n.t('common.email') %></th>
      <th class="text-slate-950 font-bold text-3xl bg-sky-950"><%= I18n.t('common.author') %></th>
      <th class="text-slate-950 font-bold text-3xl bg-sky-950"><%= I18n.t('common.created_at') %></th>
    </tr>
      <% User.all.each do |user| %>
        <tr class="w-1/2 font-bold text-3xl">
          <td class="px-2 border-solid border-2 border-sky-900 bg-slate-950 text-sky-400"><%= link_to user.id , profile_manage_user_path(user) %></td>
          <td class="px-2 border-solid border-2 border-sky-900 bg-slate-950 text-sky-800">
            <%= user.username ? "#{user.username}" : "Annonymous" %></td>
          <td class="px-2 border-solid border-2 border-sky-900 bg-slate-950 text-sky-500"><%= user.email %></td>
          <td class="px-2 border-solid border-2 border-sky-900 bg-slate-950 text-sky-800"><%= link_to user.author ? I18n.t('common.positive') : I18n.t('common.negative'), change_user_author_profile_path(user), data: {turbo_method: :post} %></td>
          <td class="px-2 border-solid border-2 border-sky-900 bg-slate-950 text-sky-800"><%= user.created_at %></td>
        </tr>
      <% end %>
  </table>
</div>