<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Short News" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-screen flex bg-slate-950 ">
    <div class="w-full">
      <nav class="flex items-center justify-between text-6xl font-bold py-5 px-5 bg-gradient-to-r from-sky-950 to-transparent text-sky-400">
        <h1>
          <%= link_to "Short News", articles_path %>
        </h1>
        <%# search %>
        <div class="text-2xl">
          <form action="articles" method="GET">
            <input type="search" name="search" class="h-10 w-96 rounded-3xl bg-slate-800 px-5 text-sky-400 focus:outline-sky-400" placeholder=<%= I18n.t('layouts.application.search_placeholder') %>>
            <button type="submit" class=""><%= I18n.t('layouts.application.search') %></button>
          </form>
        </div>
        <spam class="text-2xl">
          <%= link_to("#{I18n.locale == :en ? "PT" : "EN"}", "#{request.fullpath[0..-3]}#{I18n.locale == :en ? "pt" : "en"}") %>
        </spam>
        <ul class="navbar-nav text-xl">
          <%= render 'profile/manager' %>
        </ul>
      </nav>
      <div>
        <p class="notice text-3xl text-sky-400"><%= notice %></p>
        <p class="alert text-3xl text-sky-400"><%= alert %></p>
      </div>
      <main class="container h-full w-full mx-48 mt-10 flex justify-center">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
