<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Short News" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen flex bg-slate-950 ">
    <div class="w-full">
      <nav class="flex items-center justify-between text-6xl font-bold py-5 px-5 bg-gradient-to-r from-sky-950 to-transparent text-sky-400">
        <h1>
          <%= link_to "Short News", articles_path %>
        </h1>
        <h5 class="text-3xl text-sky-900"><%= link_to "Write Article", new_article_path %></h5>
      </nav>
      <main class="container h-full w-full mx-48 mt-28 flex justify-center">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
