<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Short News" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen flex bg-slate-950 ">
    <div>
      <nav class="text-6xl font-bold py-5 px-5 bg-gradient-to-r from-sky-950 to-transparent text-sky-400">
        <h1>
          Short News
        </h1>
      </nav>
      <main class="container h-full mx-48 mt-28 flex justify-center itens-center">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
