<div class="min-w-full text-center">
  <h2 class="mb-5 text-5xl font-bold text-sky-400"><%= I18n.t('common.register') %></h2>
  <div class="flex justify-center w-full">
    <ul class="w-1/2 text-sky-400 font-bold text-3xl ">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <li class=""><%= render "admins/shared/error_messages", resource: resource %></li>
        <li class=""><%= f.label :username, I18n.t('common.name') %></li>
        <li class="w-full text-sky-950 selection:bg-sky-950 selection:text-sky-400 pb-5 pt-2">
          <%= f.text_field :username, autofocus: true, autocomplete: "name", class: "input w-96" %>
        </li>
        <li class=""><%= f.label :email, I18n.t('common.email') %></li>
        <li class="w-full text-sky-950 selection:bg-sky-950 selection:text-sky-400 pb-5 pt-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input w-96" %>
        </li>
        <li class="text-xl">
          <%= f.label :password, I18n.t('common.password') %><%='' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= I18n.t('common.characters_minimum') %>)</em>
          <% end %></li>
        <li class="w-full text-sky-950 selection:bg-sky-950 selection:text-sky-400 pb-5 pt-2">
          <%= f.password_field :password, autocomplete: "new-password", class: "input w-96" %>
        </li>
        <li class="text-xl"><%= f.label :password_confirmation, I18n.t('common.password_confirmation') %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= I18n.t('common.characters_minimum') %>)</em>
          <% end %></li>
        <li class="w-full text-sky-950 selection:bg-sky-950 selection:text-sky-400 pb-5 pt-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input w-96" %>
        </li>
        <div class="actions text-sky-400">
          <%= f.submit I18n.t('common.register'), class: "mb-4 h-16 text-4xl font-bold" %>
        </div>
      <% end %>
      <div class="block px-32 text-1xl text-sky-800">
        <%= render "admins/shared/links" %>
      </div>
    </div>
  </div>
